@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,700");

:root {
  --green-color: #006984;
  --blue-color: #0054a2;
}

html {
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  font-size: 18px;
}

h1 {
  font-weight: 700;
}

.content {
  width: 94%;
  max-width: 20rem;
  margin: 0 auto;
}

a,
button,
label,
input {
  display: block;
  width: 100%;
}

label {
  margin-top: 2rem;
  margin-bottom: 0.5rem;
}

.cta {
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.option {
  text-align: center;
}

input {
  /* reset browser stuff */
  box-shadow: none;
  text-shadow: none;
  margin: 0;
  font-size: inherit;
  font-family: inherit;
  box-sizing: border-box;
  /* style */
  padding: 0.4em 1em;
  border-radius: 0.3em;
  border: 2px solid var(--green-color);
}

input:focus {
  outline: 0 !important;
  border-color: red;
}

button {
  /* reset browser stuff */
  border: 0;
  box-shadow: none;
  text-shadow: none;
  margin: 0;
  cursor: pointer;
  font-size: inherit;
  font-family: inherit;
  box-sizing: border-box;
}
